@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    font-variant: small-caps;
}

nav > a{
    color: white;
    text-decoration: underline;
}

.joaninha{
    background-image: url(imagens/background001.jpg);
    padding: 30px;
    color: white;
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 28%;
}

.livro{
    background-image: url(imagens/background002.jpg);
    padding: 30px;
    color: white;
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 28%;
    text-align: left;
}

.rodape{
    background-color: black;
    text-align: center; 
    color: white;  
    padding: 10px; 
}